<form class="order-form" (submit)="onSubmit($event)">
  <p><strong>Order Number:</strong> {{order().orderNumber}}</p>
  <p><strong>Customer:</strong> {{customer()?.name}}</p>
  <p><strong>Product:</strong> {{order().product?.name}}</p>
  <fieldset>
    <label for="quantity">Quantity: </label>
    <input id="quantity" type="number" [control]="orderForm.quantity"/>
  </fieldset>

  @for (error of orderForm.quantity().errors(); track error) {
    @if(error.kind === 'required') {
      <p class="error">{{error.message}}</p>
    } @else if (error.kind === 'min') {
      <p class="error">{{error.message}}</p>
    }
  }

  <fieldset>
    <label for="delivery-date">Delivery Date: </label>
    <input id="delivery-date" type="date" [control]="orderForm.deliveryDate"/>
  </fieldset>

   @if(orderForm().dirty()) {
    @for (error of orderForm.deliveryDate().errors(); track error) {
      <p class="error">{{error.message}}</p>
    }
   }

  <fieldset>
    <label for="notes">Notes: </label>
    <textarea id="notes" cols="30" [control]="orderForm.notes"></textarea>
  </fieldset>

  <fieldset>
    <label for="special">Discount Special Code: </label>
    <input id="special" type="text" [control]="orderForm.special"/>
  </fieldset>

    @for (error of orderForm.special().errors(); track error) {
      @if(error.kind === 'required') {
        <p class="error">{{error.message}}</p>
      } @else if (error.kind === 'invalidSpecialCode') {
        <p class="error">{{error.message}}</p>
      } 
    }
  
  <p><strong>Total: </strong>€{{total()}}</p>

  <div class="submit-area">
    @if (orderForm().submitting()) {
      <span>Sending order please wait...</span>
    }
    <button type="submit" [disabled]="disabled()">Submit Order</button>
  </div>
</form>
