<form class="order-form" (submit)="onSubmit($event)">

  <p><strong>Order Number:</strong> {{order().orderNumber}}</p>
  <p><strong>Customer:</strong> {{customer().name}}</p>
  <p><strong>Product:</strong> {{order().product}}</p>
  <fieldset>
    <label for="quantity">Quantity: </label>
    <input id="quantity" type="number" [control]="orderForm.quantity" />
  </fieldset>

  @for (error of orderForm.quantity().errors(); track error) {
    @if(error.kind === 'required') {
      <p class="error">Quantity is required</p>
    } @else if (error.kind === 'min') {
      <p class="error">Quantity must be at least 1</p>
    }
  }

  <fieldset>
    <label for="delivery-date">Delivery Date: </label>
    <input id="delivery-date" type="date" [control]="orderForm.deliveryDate" />
  </fieldset>

   @for (error of orderForm.deliveryDate().errors(); track error) {
    <p class="error">{{error.message}}</p>
   }

  <fieldset>
    <label for="notes">Notes: </label>
    <textarea id="notes" cols="30" [control]="orderForm.notes"></textarea>
  </fieldset>

  <button type="submit" [disabled]="orderForm().submitting()">Submit Order</button>
  @if (orderForm().submitting()) {
    <span class="loading-indicator">Sending order please wait...</span>
  }
</form>
